<!-- Email Structure And Template for Temporary Password -->

<div style=
    "
    background-color:beige;
    border-radius: 30px;
">

    <h1>&emsp;Hello <%= name%>!</h1>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;Your Password Has been Reset</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;Your new Temporary password  is <strong><%= k%></strong></p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;We suggest you to Reset, Since The Temporary Password Won't Work After Sometime</p>
    <h3>&emsp;&emsp;Thanks!</h3>
    <br>
    <br>
    <hr>
    <div class="footer">
        <p><strong>&emsp;&emsp;&copy; 2023 Asadullah Shaikh. All rights reserved.</strong></p>
    </div>
    <br>
</div>