<!-- Email Structure And Template for Login Alert -->

<div style="
    background-color: antiquewhite;
    border-radius: 30px;
">
    <br>
    <h1>&emsp;Hi!</h1>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;A New Login Has Been Detected On Your Authentication Account</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;Ignore This Mail If This Is You</p>
    <p>&emsp;&emsp;Thanks!</p>
    <br>
    <br>
    <hr>
    <div class="footer">
        <p><strong>&emsp;&emsp;&copy; 2023 Asadullah Shaikh. All rights reserved.</strong></p>
    </div>
    <br>
</div>
