<html>
    <!-- Linking CSS File -->
    <link rel="stylesheet" href="/css/footer.css">

<body>
    <!-- Footer section -->
    <footer class="footer">

        <!-- Wave background -->
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>

        <!-- Social icons -->
        <ul class="social-icon">
            <li class="social-icon__item">
                <a class="social-icon__link" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li class="social-icon__item">
                <a class="social-icon__link" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li class="social-icon__item">
                <a class="social-icon__link" target="_blank" href="https://www.linkedin.com/in/asadullah-shaikh-a1ab9a223/">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li class="social-icon__item">
                <a class="social-icon__link" target="_blank" href="https://www.instagram.com/asadshaikh5908/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
        </ul>

        <!-- Menu links -->
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="#">Connect With Us</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">About</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Contact</a>
            </li>
        </ul>

        <!-- Copyright information -->
        <p>&copy;2023 Asadullah Shaikh | All Rights Reserved</p>
    </footer>

    <!-- Ionicons library -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>