<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Linking CSS File -->
    <link rel="stylesheet" href="/css/forgetpassword.css">
    <title> <%= title %> </title>
</head>
    <body>

        <div class="container main-c">
            
            <!-- Password reset form section -->
            <div class="get-pass-form">
                <h2>A Temporary Password Will Be Sent On Your Registered Email</h2>
                <hr width="98.9%">

                <!-- Form to request a temporary password -->
                <form action="/users/randomNumber/<%= user.id %>" onsubmit="return stopRelod();">
                    <!-- Email input (disabled) -->
                    <input class="en-email" type="email" name="email" disabled placeholder="<%= user.email %>">

                    <!-- Submit button to send temporary password -->
                    <input 
                        class="sub-btn"
                        type="submit" 
                        id="getotp" 
                        value="Send Password" 
                        onclick="getopt()">
                </form>
            </div>

        </div>

        <!-- Include external JavaScript file -->
        <script src="/js/random.js"></script>
    </body>
</html>