<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/changepass.css">

    <!-- Linking the CSS File -->
    <title> <%= title %> </title>
</head>
<body>
    
    <div class="container">
        <!-- Outer container to group content -->
        <div>

            <!-- Form for changing password, with target URL and HTTP method specified -->
            <form action="/users/update/<%= user.id %>" method="post">
                Email
                <!-- Text indicating the purpose of the form inputs -->
                
                <!-- Input field for entering a new password -->
                <input type="password" name="npass" placeholder="New Password">

                <!-- Input field for confirming the new password -->
                <input type="password" name="npass" placeholder="Confirm Password">

                <!-- Submit button for submitting the form -->
                <input type="submit" value="Change">
            </form>
            
            <!-- Link to the "Forget password" page -->
            <a href="/users/forget-password">Forget password</a>
        </div>

        
    </div>
</body>
</html>