/* Styles for the body */

body {
    background-image: url('/images/home.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Styles for the main container */

.main-c {
    height: 79.5vh;
}

/* Styles for the get-pass-form container */

.get-pass-form {
    display: block;
    margin-top: 470px;
    background-image: url('/images/boat.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    opacity: 0.9;
    height: 180px;
}

/* Styles for the form within the get-pass-form container */

.get-pass-form form {
    display: block;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

/* Styles for the "en-email" class within the form */

.get-pass-form form .en-email {
    width: 30%;
    display: block;
    margin: 0 auto;
    transform: scale(1.2);
}   

/* Styles for the input elements within the form */

.get-pass-form form input {
    width: 12%;
    background-color: antiquewhite;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 30px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bolder;
    transform: scale(1.1);
}

/* Styles for the "sub-btn" class when hovering */

.sub-btn:hover{
    border: none;
    transform: scale(1.2);
    background: linear-gradient(-120deg, #EA4335, #FBBC05, #34A853, #4285F4);
    color: antiquewhite;
}

/* Styles for the h2 element within the "get-pass-form" container */

.get-pass-form h2 {
    padding-top: 10px;
    color: antiquewhite;
    font-family: cursive;
}
